# In schora-api/ create a file called .envWATSONX_URL=https://eu-gb.ml.cloud.ibm.com
WATSONX_PROJECT_ID=93c2c39d-f990-4f11-9fea-2516bf4cd95a
WATSONX_API_KEY=ytHcTyuyjSmQSgqhZVVY6ayyNdrNin-BBfwIcIABnPPV
WATSONX_MODEL_ID=ibm/granite-13b-instruct-v2